<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My CV</h2>
                    <h3 class="section-subheading text-muted">Formal and Professional.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
				    <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
				    <i class="fa fa-circle fa-stack-2x text-primary"></i>
				    <!--<i class="fa fa-user fa-stack-1x fa-inverse"></i>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1992-2005</h4>
                                    <h4 class="subheading">School at Colegio Loyola</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When to school there, not much to say; School.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
				<!--<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<!--<i class="fa fa-user fa-stack-1x fa-inverse"></i>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2010</h4>
                                    <h4 class="subheading">University at Pontificia Universidad Catolica Madre y Maestra</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Best education experience I've ever had. I really liked college. I had a good couple of teachers that I feel shoved me in the right direction. I think I really learned a lot there.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
				<!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<!--<i class="fa fa-user fa-stack-1x fa-inverse"></i>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">First job at Berry Dominicana</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This was my second work experience after my internship and was where I felt I really started to enter the industry.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                            	<!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<!--<i class="fa fa-user fa-stack-1x fa-inverse"></i>-->
			    </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20014-Present</h4>
                                    <h4 class="subheading">Work at Newtech</h4>
                                </div>
                                <div class="timeline-body">
					<p class="text-muted">My current employer. I really like it there. It has a really good atmosphere and for the most part it's a really good place to work, nothing is perfect ehh. Working with MS SSRS, C#.NET MVC and ASP.NET sites and getting into working with Salesforce development.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
