<!-- My Section -->
    <section id="me" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/me.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ site.title }}</h4>
                        <p class="text-muted"><b>Email:</b> {{ site.me.email }}</p>
                        <p class="text-muted"><b>Skype:</b> {{ site.me.skype }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in site.me.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row hidden">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
            <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Personal</h4>
                        <p class="text-muted">I'm a citizen of the Dominican Republic and Spain. Since little my passion has been computers and software development. I like teamwork and currently I'm looking into getting into philanthropy.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="service-heading">Development</h4>
                        <p class="text-muted">I'm a software developer at heart. I've had experience with lots of languages and technologies. The primary ones are .NET and PHP. I learned to code in Basic by myself. Later was taught proper coding in Delphi 7. In Uni I got my first formal coding class in C and later in C++ and Java. At the end of the Uni I picked up C#.NET but I'm an Open-Source kinda guy. Ohh, and of course I've developed a lot of things in PHP back in the day. Right now I'm looking into Python, Ruby, Go and NodeJS.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Business</h4>
                        <p class="text-muted">Later in life I would like to put on the Enterpreneur hat and create my own software development shop. This is a work in progress that is currently taking shape.</p>
                    </div>
                </div>
        </div>
    </section>